@font-face {
    font-family: "Urban";
    src: local("Grandesign Regular"), url("fonts/UrbanJungleDEMO.otf") format("opentype"); /* non-IE */
}

body {
    color: #363636;;
}

h1.page-title
{
    text-align:center;
    font-family: Urban;
    font-size:6em;
    Margin-top:70px;
}
#page-divider
{
    width:100%;
    height: 10px;
    background-color: #363636;
}

.topic-title
{
	text-align:center;
}

.topic
{
    font-family:arial, sans-serif;
    margin:auto;
    text-align:left;
   
}

.story-comments
{
    border:1px solid #ccc;
    float:right;
    margin-left:10px;
 
}

.story-comments-title
{
    font-weight:bold;
    text-align:center;

}

.story-comments .comment
{
    background-color:#eee;
}


.story-title
{
    background-color:yellow;
    font-weight:bold;
    display:inline;
    margin-bottom:20px;
    text-align:left;
}

.source {
    height: 400px;
}

.sources
{

}

.source
{
    border:1px solid #ccc;
    padding:0px 5px 0px 5px;

} 

.source .heading
{
    font-weight:bold;
}


.logo
{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:40px;
}

.clear { clear:both; }