@font-face {
    font-family: 'Urban';
    src: url('fonts/UrbanJungleDEMO.otf') format('opentype');
}
@font-face {
    font-family: "NexaBold";
    src: url('fonts/NexaBold.otf') format('opentype');
}
@font-face {
    font-family: "Archive";
    src: url('fonts/Archive.otf') format('opentype');
}

body {
    color: #363636;
}

h1.page-title
{
    text-align:center;
    font-family: 'Urban';
    font-size:6em;
    margin-top: 80px;
}

.topic-title
{
	text-align:left;
}

.topic
{
    font-family:arial, sans-serif;
    text-align:left;

}

.story-comments-title
{
    font-weight:bold;
    text-align:center;

}

.img-source {
    width: 200px;
    height: 130px;
}

.description {
    font-size: 10px;
    line-height: 1em;
}

.source
{
    height: 250px;
    border: solid;
    padding: 5px;
}

.source .heading
{
    font-family: Century Gothic;
    font-weight: bold;
}
