{% for topic in topics %}
    <div class="row-fluid topic-title">
        <h2>{{ topic.topic.name }}</h2>
    </div>
	<div class="row-fluid topic">
		<div class="span9">
			<div class="row-fluid news-box">
				{% for news_group in topic.news_groups %}
					<div class="row-fluid">
						{% for news in news_group %}
		                    <div class="span3 source" data-source_id="{{ news.id }}" data-source_click_url="/source_click/">
		                        <div class="div-logo"><img class="source-logo" src="{{ news.source }}"></div>
		                        <div class="heading">
		                        	<span class="news_displayed_name">{{ news.name|truncatechars:27 }}</span>
		                        	<span class="real_news_name" style="display:none">{{ news.name }}</span>
		                        </div>
		                        <a href="{{ news.link }}">
                                             <div class="img-source">
                                                 <div style="width:90%; height:100%; background-size:cover; background-image:url('{{ news.image_link }}');">
                                                     <span style="text-align:center; font-size:8px; color:black; float:right; width: 35px; height: 17px; background-color: rgba(255, 255, 255, 150);">
                                                         <span class="news_views">
                                                             {{ news.views }}
                                                         </span>
                                                         &nbspviews
                                                     </span>
                                                 </div>
                                             </div>
                                         </a>
		                        <div class="description">{{ news.description|truncatechars:150 }}</div>
		                    </div>
	                	{% endfor %}
                	</div>
               	{% endfor %}
			</div>
		</div>
		<div data-topic_id="{{ topic.topic.id }}" data-load_comments_url="/load_comments/" class="span3 topic_comments" style=" height: 500px; overflow-y: scroll; overflow-x: hidden;">
			<div class="row-fluid post_comment_box" data-post_comment_url="/post_comment/">
                         <button class="btn btn-warning post_comment">Post</button>
				<input type="text" class="post_comment_name" placeholder="Name">
                         <textarea class="post_comment_field" placeholder="Comment"></textarea>
			</div>

			<div class="row-fluid comments_list">
				{% include "layouts/comments.html" with comments=topic.comments %}
			</div>
		</div>
	</div>
	<hr>
{% endfor %}