<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="file:///C:\Development\monsternews\mnstr\templates\index.css" rel="stylesheet" />
		<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/main.css" rel="stylesheet" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/mnstr.js"></script>-->
	</head>
<body>
	<div id="container">
<h1 class="page-title"><img src="images/logo.png" class="width400" /></h1>
		
		<div class="stories">
		
			<div class="story floatLeft">
			
				<h2 class="story-title chunk">#KOREAN NUCLEAR CRISIS</h2>
				<div class="clear"></div>
				<br /><br />
		
				<div class="source-category">UK TELEVISION</div>
				<br /><br />
				
				<div class="sources">
				
					<div class="source">
						<div class="logo logo-bbc"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-sky"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-itv"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-channel4"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
				</div>
				
				<div class="clear"></div>
				<br />
				<div class="source-category">UK NEWSPAPER</div>
				<br /><br />
				
				<div class="sources marginBottom50">
				
					<div class="source">
						<div class="logo logo-guardian"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-independent"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-times"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
					<div class="source">
						<div class="logo logo-telegraph"></div>
						<div class="heading">TITLE</div>
						<img src="images/preview.png" />
						<div class="summary">ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem, ipsum lorem</div>
					</div>
					
				</div>
				
			</div>
		</div>
		
		<div class="story-comments floatLeft">
			<div class="story-comments-title">COMMENTS</div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
			<div class="comment">There is a comment, I really like this..<span class="ago">5 minutes ago</span></div>
		</div>
		
		<div class="clear"></div>
</div>
</body>
</html>