<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/main.css" rel="stylesheet" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/mnstr.js"></script>
	</head>
<body>
<h1 class="page-title">mnstr</h1>

<div class="topics">

    {% for topic in topics %}
        <div class="topic">
            <h2 class="topic-title">{{ topic.topic.name }}</h2>
            <div class="clear"></div>
            <br <br /><br />

            <div class="sources">

                {% for news in topic.news %}

                    <div class="source">
                        <div class="source-logo">{{ news.source }}</div>
                        <div class="heading">{{ news.name }}</div>
                        <a href="{{ news.link }}"><img src="{{ news.image_link }}" /></a>
                        <div class="description">{{ news.description }}</div>
                    </div>

                {% endfor %}

            </div>

            <div class="story-comments">
                <div class="story-comments-title">COMMENTS</div>
                <div class="comment"></div>
            </div>

        </div>
    {% endfor %}
</div>








</body>
</html>